<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.cleanUps">
      <cleanUpOptionsInitializer
            class="ch.slaurent.cleanup.SourceCleanUpOptionsInitializer"
            cleanUpKind="cleanUp">
      </cleanUpOptionsInitializer>
      <cleanUpOptionsInitializer
            class="ch.slaurent.cleanup.SourceCleanUpOptionsInitializer"
            cleanUpKind="saveAction">
      </cleanUpOptionsInitializer>
      <cleanUpConfigurationUI
            class="ch.slaurent.cleanup.SourceCleanUpConfigurationUI"
            cleanUpKind="saveAction"
            name="Misc cleanups">
      </cleanUpConfigurationUI>
      <cleanUpConfigurationUI
            class="ch.slaurent.cleanup.SourceCleanUpConfigurationUI"
            cleanUpKind="cleanUp"
            name="Misc cleanups">
      </cleanUpConfigurationUI>
      <cleanUp
            class="ch.slaurent.cleanup.SourceCleanUp"
            id="ch.slaurent.cleanup.SourceCleanUp">
      </cleanUp>
   </extension>

</plugin>
